@font-face {
  font-family: Bitter;
  src: url(Bitter-Regular.otf);
}

@font-face {
  font-family: Andika;
  src: url(AndikaNewBasic-R.ttf);
}

h1,h2 {
  margin-top: 0.1em;
  padding-top: 0.1em;
  margin-bottom: 0.1em;
  padding-bottom: 0.1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Andika, sans-serif;
  margin-bottom: 0.1em;
  padding-bottom: 0.1em;
}

body {
  margin: 1em auto;
  max-width: 50em;
  padding: 0 .62em;
  font: 1.2em/1.62 sans-serif;
  font-family: Bitter, serif;
  text-align: center;
}

h1,h2,h3 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a:hover {
      text-decoration: underline;
}

@media print{
  body{
    max-width:none
  }
}
